<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>后台</title>
    <link href="/Css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/Css/animate.min.css" rel="stylesheet">
    <link href="/Css/style.min.css?v=4.0.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/Css/diyUpload.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="commentForm">
                        <h2><div  class="col-sm-2"></div>修改轮播图</h2>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">url</label>
                            <div class="col-sm-8">
                                <input type="text" size="30" name="class1" size="80" minlength="6" maxlength="60" class="form-control"  id="url" value="<?php echo $result['url'];?>" />
                            </div>
                        </div>
                       <!--  <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-8"> 
                                <input type="text" size="30" size="80" minlength="6" maxlength="60" class="form-control"  id="class2" value="<?php echo $result['class2'];?>"/>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">class</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="class2">
                                    <?php echo broadcast_class_show();?>
                                </select>
                            </div>
                        </div>

                        </volist>
                        <div class="form-horizontal" id="step2">
                            <div class="form-group">
                                <label class="control-label col-sm-2">内容图片上传：<br>(重新上传图片将全部被覆盖)</label>
                                <div class="col-sm-10">
                                    <div id="img_upload" ></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" id="step2">
                            <div class="form-group">
                                <label class="control-label col-sm-2">当前内容图片：</label>
                                <div class="col-sm-10">
                                        <?php
                                        $urls=json_decode($result['img'],true);
                                        foreach ($urls as $key => $value) {
                                    ?>
                                    <a href="{$value}" target="_blank"><img class="shop_images oldimg" style="height: 100px;"  src="{$value}"></a>
                                    <?php
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="hidden" id='id' value="<?php echo I('param.id');?>">
                                <button class="btn btn-primary" type="button" id="adds">提交</button>
                                <a href="/Broadcastimg/lists"><button class="btn btn-white" type="button">取消</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    alert($ajaxReturnData['data'])
    
</script>
<script src="/Js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/Js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/Js/diyUpload.js"></script>
<script type="text/javascript">

    var image_url=[];
    var img_url=[];
    var image_urls=[];
    var img_urls=[];
    $('.shop_index_images').each(function(){
        // alert($(this).text())
        console.log($(this).attr('src'));
        image_url.push($(this).attr('src'));
    });
    console.log(image_url);
    
    $('.shop_images').each(function(){
        // alert($(this).text())
        console.log($(this).attr('src'));
        img_url.push($(this).attr('src'));
    });
    console.log(img_url);
    

    
    $('#file_upload').diyUpload({
        url:'/Broadcastimg/upload_do',
        success:function( data ) {
            image_urls.push(data._raw);
            console.log(image_urls);
        },
        error:function( err ) {
            console.info( err );    
        },
        buttonText : '选择文件',
        chunked:true,
        // 分片大小
        chunkSize:1024 * 1024,
        //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
        fileNumLimit:1,
        fileSizeLimit:500000 * 1024,
        fileSingleSizeLimit:50000 * 1024,
        accept: {}
    });

    $('#img_upload').diyUpload({
        url:'/Broadcastimg/upload_do',
        success:function( data ) {
            img_urls.push(data._raw);
            console.log(img_urls);
        },
        error:function( err ) {
            console.info( err );    
        },
        buttonText : '选择文件',
        chunked:true,
        // 分片大小
        chunkSize:1024 * 1024,
        //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
        fileNumLimit:1,
        fileSizeLimit:500000 * 1024,
        fileSingleSizeLimit:50000 * 1024,
        accept: {}
    });

    $(document).on('click','#adds',function(){
        var url=$('#url').val();
        var class2=$('#class2').val();
        var id=$('#id').val();
        var oldimg=$('.oldimg').attr('src');

        var goimg = "";

        // console.log(oldimg);
        // console.log(img_urls[0]);

        // if(!img_urls[0]){
        //     goimg = oldimg;
        // }else{
        //     goimg = img_urls[0];
        // }
        
        if(class2==0){
            alert("请重新选择图片类型")
        }else{
            if(img_urls[1]){
                alert("只允许上传单图片")
            }else{
                $.ajax({
                    url:'/Broadcastimg/raedit_do', 
                    data:{
                        "id":id,
                        "url":url,
                        "img":img_urls,
                        "class":class2,
                    },
                    type:'post',
                    dataType:"json",
                    success:function(data){
                        if(data.status){
                            
                            alert('编辑成功');
                            window.location="/Broadcastimg/lists";
                        }else{
                            alert(data.message)
                        }
                    }
                });
            }
        }
        
            
        
       
    })
</script>
</body>
</html>